* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0b1419;
    color: white;
}

.img {
    --b: 5px; /* border thickness */
    --c: #0000 25%,darkblue 0; /* define the color here */
    padding: 10px;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--c)) 0    0,
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--c)) 100% 0,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--c)) 0    100%,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--c)) 100% 100%;
    background-size: 50px 50px; /* adjust border length here */
    background-repeat: no-repeat;
    transition: .6s;
    cursor: pointer;
}

.img:hover {
    background-size: 51% 51%;
}

.loginho {
    border-radius: 50%;
    cursor: pointer;
    padding: 40px;
    clip-path: circle(calc(50% - 40px));
    --_p: 100px;
    --_g1: radial-gradient(50% 50%,blue 90%,#0000); /* color 1 */
    --_g2: radial-gradient(50% 50%,white 90%,#0000); /* color 2 */
    --_g3: radial-gradient(50% 50%,blue 90%,#0000); /* color 3 */
    --_g4: radial-gradient(50% 50%,white 90%,#0000); /* color 4 */
    background:
       var(--_g1) calc(20% - var(--_p)) calc(20% - var(--_p)),
       var(--_g2) calc(80% + var(--_p)) calc(10% - var(--_p)),
       var(--_g3) calc(80% + var(--_p)) calc(80% + var(--_p)),
       var(--_g3) 55%                   calc(12% - var(--_p)),
       var(--_g1) calc(18% - var(--_p)) calc(88% + var(--_p)),
       var(--_g2) calc(10% - var(--_p)) calc(70% + var(--_p)),
       var(--_g2) calc(88% + var(--_p)) 40%,
       var(--_g1) calc(82% + var(--_p)) calc(28% - var(--_p)),
       var(--_g4) calc(12% - var(--_p)) 30%,
       var(--_g4) 65%                   calc(85% + var(--_p)),
       var(--_g3) calc(20% - var(--_p)) calc(10% - var(--_p)),
       var(--_g4) calc(30% - var(--_p)) calc(85% + var(--_p));
    background-size: 15px 15px, 20px 20px, 30px 30px;
    background-repeat: no-repeat;
    filter: grayscale(80%);
    transition: .5s;
}

.loginho:hover {
    filter: grayscale(0%);
    clip-path: circle(50%);
    --_p: 0px;
}

.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    width: 30vw;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: blue;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid blue;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: blue;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: blue;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  /* FORMULARIO */

  .orange {
    color: #ff7a01;
  }
  
  .form-container {
    max-width: 700px;
    margin: 30px;
    background-color: #001925;
    padding: 30px;
    border-left: 5px solid blue;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
  }
  
  .heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .form-container .form .input {
    color: #87a4b6;
    width: 100%;
    background-color: #002733;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }
  
  .form-container .form .input:focus {
    border-left: 5px solid blue;
  }
  
  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #013747;
    color: blue;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .textarea:focus {
    border-left: 5px solid blue;
  }
  
  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }
  
  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: blue;
    padding: 10px;
    color: #001925;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid blue;
    color: blue;
  }
  
  /* .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #ff7a01);
    flex-basis: 30%;
  }
   */
  /* .form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #ff7a01;
    font-weight: bold;
    background: #001925;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button:hover {
    background: #ff7a01;
    color: #001925;
  } */

  .jogador {
    --r: 50px; /* the radius */
  
  width: 450px; /* the image size */
  aspect-ratio: 1;
  object-fit: cover;
  margin: calc(tan(22.5deg)*var(--r));
  clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%) margin-box;
  --_g:/calc(2*var(--r)) calc(2*var(--r)) 
    radial-gradient(#000 70%,#0000 72%);
  --_s:calc(100% - (1 - tan(22.5deg))*var(--r));
  mask:
    conic-gradient(#000 0 0) no-repeat 50%/var(--_s) var(--_s),
    top var(--_g) no-repeat space,left var(--_g) space no-repeat;
  }